/*
Syntax error: Undefined variable: "$white".
        on line 93 of SCSS/style.scss

88:     height: 100px;
89:     resize:none;
90:     outline: none;
91:     font-size: 20px;
92:     padding: 10px;
93:     background: $white;
94:     @include placeholder {
95:         color: #000;
96:     }
97:     &[disabled] {
98:         background: lighten(#0072ff, 42%);

Backtrace:
SCSS/style.scss:93
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/script/tree/node.rb:50:in `perform'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:462:in `on_file_changed'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:324:in `block in watch'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:135:in `call'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:135:in `block in _wait_for_changes'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:130:in `loop'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:130:in `_wait_for_changes'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:40:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$white\".\A         on line 93 of SCSS/style.scss\A \A 88:     height: 100px;\A 89:     resize:none;\A 90:     outline: none;\A 91:     font-size: 20px;\A 92:     padding: 10px;\A 93:     background: $white;\A 94:     @include placeholder {\A 95:         color: #000;\A 96:     }\A 97:     &[disabled] {\A 98:         background: lighten(#0072ff, 42%);"; }
