/*
Syntax error: Invalid CSS after "        backgr": expected "{", was "}"
        on line 107 of SCSS/style.scss

102:         display: table-cell;
103:         border-box: 1px solid #ccc;
104:         text-align: center;
105:         color: #fff;
106:         backgr
107:     }
108: }

Backtrace:
SCSS/style.scss:107
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:1312:in `expected'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:1248:in `expected'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:1243:in `tok!'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:640:in `block'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `call'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `rethrow'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:660:in `block_child'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:641:in `block'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `call'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `rethrow'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:660:in `block_child'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:641:in `block'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:659:in `block_child'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/scss/parser.rb:41:in `parse'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/engine.rb:409:in `_to_tree'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:462:in `on_file_changed'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:324:in `block in watch'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:135:in `call'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:135:in `block in _wait_for_changes'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:130:in `loop'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:130:in `_wait_for_changes'
/Users/russellskaggs/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.1.0/lib/listen/listener.rb:40:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"        backgr\": expected \"{\", was \"}\"\A         on line 107 of SCSS/style.scss\A \A 102:         display: table-cell;\A 103:         border-box: 1px solid #ccc;\A 104:         text-align: center;\A 105:         color: #fff;\A 106:         backgr\A 107:     }\A 108: }"; }
