/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.25;
  font-family: 'Open Sans'; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  padding: 20px;
  background: #fffbf2;
  color: #332500; }

.btn, .toggle-wrap a {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

textarea {
  -webkit-transition: mergeList(background border, "", "0.5s linear");
  -moz-transition: mergeList(background border, "", "0.5s linear");
  -o-transition: mergeList(background border, "", "0.5s linear");
  transition: mergeList(background border, "", "0.5s linear");
  border: 1px solid #ccbba2;
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  background: #fffbf2;
  display: block; }
  textarea::-webkit-input-placeholder {
    color: #332500;
    font-size: 14px;
    font-style: italic; }
  textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #332500;
    font-size: 14px;
    font-style: italic; }
  textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #332500;
    font-size: 14px;
    font-style: italic; }
  textarea:-ms-input-placeholder {
    color: #332500;
    font-size: 14px;
    font-style: italic; }
  textarea[disabled] {
    background: #e7f2d1;
    border: 1px solid #8bb835; }

em {
  font-style: italic; }

.btn {
  display: block;
  background: #8bb835;
  color: #fffbf2;
  padding: 20px;
  text-align: center;
  margin: 20px 0; }

.wrap {
  max-width: 800px;
  margin: 0 auto; }

h1 {
  font-size: 40px;
  margin: 40px 0;
  text-align: center;
  font-weight: 600; }

p {
  margin: 20px 0;
  line-height: 1.5;
  font-weight: 300; }

.toggle-wrap {
  display: table;
  position: relative;
  background: #bbb;
  width: 100%;
  margin: 20px 0; }
  .toggle-wrap:before {
    -webkit-transition: left 0.25s ease-in;
    -moz-transition: left 0.25s ease-in;
    -o-transition: left 0.25s ease-in;
    transition: left 0.25s ease-in;
    background: #8bb835;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%; }
  .toggle-wrap.-reverse:before {
    left: 50%; }
  .toggle-wrap a {
    width: 50%;
    position: relative;
    z-index: 2;
    display: table-cell;
    padding: 10px;
    border-box: 1px solid #ccbba2;
    text-align: center;
    color: #fffbf2; }
