/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
    font-family: 'Open Sans';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$white: #fffbf2;
//$highlight: #0072ff;
$gray: #ccbba2;
$highlight: #8bb835;
$text: #332500;
body {
    padding: 20px;
    background: $white;
    color: $text;
}
@mixin placeholder {
	&::-webkit-input-placeholder {
	   @content
	}

	&:-moz-placeholder { /* Firefox 18- */
	   @content
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   @content
	}

	&:-ms-input-placeholder {
	   @content
	}
}
@mixin transition($speed, $type:linear, $target:all) {
    $transVal: null;
    @if length($target) > 1 {
        $transVal: mergeList($target, '', '#{$speed} #{$type}');
    } @else {
        $transVal: $target $speed $type;
    }
    -webkit-transition: $transVal;
    -moz-transition: $transVal;
    -o-transition: $transVal;
    transition: $transVal;
}
%highlight-disable {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
textarea {
    @include transition(.5s, linear, background border);
    border: 1px solid $gray;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    resize:none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    background: $white;
    display: block;
    @include placeholder {
        color: $text;
        font-size: 14px;
        font-style: italic;
    }
    &[disabled] {
        background: lighten($highlight, 42%);
        border: 1px solid $highlight
    }
}
em {
    font-style: italic;
}
.btn {
    @extend %highlight-disable;
    display: block;
    background: $highlight;
    color: $white;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 5px;
}
.wrap {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    font-size: 40px;
    margin: 40px 0;
    text-align: center;
    font-weight: 600;
}
p {
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}
.toggle-wrap {
    display: table;
    position: relative;
    background: $gray;
    overflow: hidden;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    &:before {
        @include transition(.25s, ease-in, left);
        background: $highlight;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
    }
    &.-reverse {
        &:before {
            left: 50%;
        }
    }
    a {
        @extend %highlight-disable;
        width: 50%;
        position:relative;
        z-index: 2;
        display: table-cell;
        padding: 10px;
        border-box: 1px solid $gray;
        text-align: center;
        color: $white;
    }
}
.ad-wrap {
    padding-top: 50px;
    text-align: center;
}
.advertisement {
    display: inline-block;
    text-align: left;
}
